.container {
    width: 1280px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

a {
    color: whitesmoke;
    padding-right: inherit;
    padding-left: inherit;
    text-decoration: none;
}

.active{
    color: #589559;
    font-weight: bold;
 }

 header {
     background-color: black;
     color: white;
     padding: 1%;
 }

.logo {
    width: 10%;
 }

 .list-group {
  width: fit-content;
 }
